<%= form_for(@scan) do |f| %>
  <% if @scan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scan.errors.count, "error") %> prohibited this scan from being saved:</h2>

      <ul>
      <% @scan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Название %><br>
    <%= f.text_field :do_name %>
  </div>
  <div class="field">
    <%= f.label :Описание %><br>
    <%= f.text_area :do_description %>
  </div>
  <div class="field">
    <%= f.label :Адрес %><br>
    <%= f.text_field :do_address %>
  </div>
  <div class="field">
    <%= f.label :Телефон %><br>
    <%= f.text_field :do_phone %>
  </div>
  <div class="field">
    <%= f.label :Факс %><br>
    <%= f.text_field :do_fax %>
  </div>
  <div class="actions">
    <%= f.submit value="Внести данные" %>
  </div>
<% end %>
